* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 70px;
  margin: 0 15%;
  /* background-color: #1F2937; */
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  /* color: #f9faf8; */
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  /* color: #e5e7eb; */
}

.content-1, .content-2, .content-3, .content-4, .footer {
  margin-top: 30px;
  display: flex;
  gap: 16px;
  flex: 1;
}

.content-1 {
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  gap: 16px;
}

.content-1 button {
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  font-weight: 500;
  font-size: 15px;
}

.container.placeholder {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.content-2{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.box {
  align-items: center;
  border: solid 2px blue;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.card-description {
  display: flex;
  text-align: center;
  margin-top: 20px;
  max-width: 200px;
}

.content-3 {
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.quote {
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
}

.quoted-by {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  justify-content: flex-end;
}

.content-4 {
  justify-content: center;
  align-items: center;
}

.box1 {
  display: flex;
  border: solid 2px blue;
  padding: 30px;
  border-radius: 10px;
  gap: 40px;
}

.content-4 button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
}

.footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}